* {
  font-family: century gothic;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

/* footer sec start */

.footer-sec {
  width: 100%;
  height: 40rem;
  background: #0e0d0d;
}

.logo2 {
  text-align: center;
  padding-top: 5rem;
}

.logo2 img {
  height: 13rem;
}

.logo2 p {
  font-size: 1.6rem;

  color: ghostwhite;
  margin-top: 1.5rem;
}

.logo2 a {
  text-decoration: none;
  color: ghostwhite;
}
.logo2 a:hover i {
  background: ghostwhite;
  color: black;
  transform: scale(1.1);
  transition: 1s;
}
.logo2 i {
  font-size: 1.6rem;
  text-align: center;
  margin: 3rem 1rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;

  transition: 1s;
  border-radius: 50%;
}

/* copy right sec */
.copy-rght {
  width: 100%;
  height: 7rem;
  background: #0e0d0d;
  text-align: center;
}

.copy-rght hr {
  width: 60%;
  margin-left: 27rem;
  color: ghostwhite;
}
.copy-rght p {
  line-height: 8rem;
  font-size: 1.6rem;

  color: ghostwhite;
}
.copy-rght p span {
  line-height: 6rem;
  font-size: 1.6rem;
  font-weight: bold;
}

/* footer sec end */

/* resposive starts */
@media only screen and (max-width: 1168px) {
  .copy-rght hr {
    margin-left: 20rem;
  }
}

@media only screen and (max-width: 836px) {
  .copy-rght hr {
    margin-left: 18rem;
  }
}

@media only screen and (max-width: 766px) {
  .copy-rght hr {
    margin-left: 16rem;
  }
  .footer-sec {
    margin-top: 120rem;
  }
}

@media only screen and (max-width: 610px) {
  .copy-rght hr {
    margin-left: 15rem;
  }
}

@media only screen and (max-width: 570px) {
  .copy-rght hr {
    margin-left: 13rem;
  }
}

@media only screen and (max-width: 490px) {
  .copy-rght hr {
    width: 65%;
    margin-left: 8rem;
    color: white;
  }
  .copy-rght p span {
    font-size: 1.4rem;
  }
}

/* resposive ends */
